# Core audio and ML
numpy==1.22.0
pandas
librosa==0.9.1
pydub==0.25.1

# Voice extraction (OpenVoice part)
ctranslate2
faster-whisper==0.9.0
whisper-timestamped==1.14.2

# Russian TTS
silero
ruaccent

# Web Interface
gradio==3.48.0
